main {
	border: 10px double #b5ab9e;
	padding: 20px;
	margin: 10px auto;
	max-width: 1000px;
	/*height: 100%;*/
	background-color: #00000050;
}

h1 {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 0;
}

#tagline {
	text-align: center;
	display: block;
	font-weight: 600;
	font-size: 1.5rem;
	margin-top: 10px;
}

ul {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin-top: 50px;
}

li {
	display: flex;
	justify-content: center;
	height: 350px;
	width: 250px;
	margin: 20px;
	background-size: cover;
	background-position: center;
	border: 1px solid #b5ab9e;
}

a.recipe-title {
	text-decoration: none;
	border: 1px solid #b5ab9e;
	display: grid;
	place-items: center;
	height: 95%;
	width: 95%;
	margin: auto;
	color: #b5ab9e;
	font-weight: 800;
	font-size: 1.4rem;
}

a.recipe-title:hover {
	background-color: #00000060;
}